aiohttp
pyrogram
python-dotenv
tgcrypto
flask==2.0.1
uwsgi
urllib3
requests
aiofiles
apscheduler
PyDrive
httplib2==0.15.0
TgCrypto
pyrogram
pymongo[srv]
AnilistPython
asyncio
pyromod
